.menu{
    height: 13vh;
    background: #17417b;
    justify-content:first baseline;
    align-items:center;
    text-align:center;
    margin-right: justify;
    width: 170rem;
    /*  */
    display:flex;
  color: white;
  padding: 10px;
  border: none;
    
}

.containerLogo{
    display: flex;
    justify-content: end;
}
