.menu{
    height: 13vh;
    background-color: #17417b;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: justify;
    width: 150rem;
    display: flex;
    color: white;
    padding: 10px;
    border: none;
}

.containerLogo{
    display: flex;
    justify-content: end;
}